@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

* body .countries {
  overflow: scroll; }

* body .countries {
  width: 100%;
  height: 30%; }

* body .countries {
  flex-wrap: wrap; }

* body #spinner::after {
  content: ""; }

* body #spinner::after {
  width: 80px;
  height: 80px; }

* body #spinner::after {
  will-change: transform;
  animation: spin 1s infinite linear; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* body {
  font-size: 62.5%; }

* body {
  width: 100vw;
  height: 100vh; }

* body, * body .chart, * body .countries, * body #spinner:not([hidden]) {
  display: flex;
  justify-content: center;
  align-items: center; }

* body {
  flex-direction: column; }

* body, * body .region, * body .region .europe,
* body .region .asia,
* body .region .america,
* body .region .africa, * body .region button, * body .countries, * body .countries button {
  background-color: black; }

* body .region {
  width: 100%;
  height: 10%; }

* body .region {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.1rem; }

* body .region .europe,
* body .region .asia,
* body .region .america,
* body .region .africa {
  height: 100%;
  width: 24%; }

* body .region .europe,
* body .region .asia,
* body .region .america,
* body .region .africa {
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.7rem;
  font-weight: bold;
  color: white; }

* body .chart {
  width: 100%;
  height: 60%; }

* body .region button, * body .countries button {
  color: white; }

* body .countries .flags-btn {
  width: 13rem;
  height: 10rem; }

* body #spinner:not([hidden]) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

* body #spinner:not([hidden]) {
  position: fixed; }
